<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create Order</h1>
    <form id="new_order" method="post" url="/">
        <label for="buyer">Buyer</label>
        <input type="text" name="buyer">
        <label for="product">Product</label>
        <input type="text" name="product">
        <label for="amount">Amount</label>
        <input type="number" name="amount">
        <label for="price">Price</label>
        <input type="number" name="price">

        <button type="submit">SUBMIT</button>
    </form>
</body>
</html>