<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/setup.css">
    <link rel="stylesheet" href="/static/home.css">
    <title>Create Order</title>
</head>
<body>
        <!-- Navigation Bar -->
        <nav class="navbar">
            <div class="logo">[brand]</div>
            <div class="nav-links">
                <a href="home.html" class="active">Home</a>
                <a href="#about-us">About Us</a>
                <a href="#why-us">What We Do & Why</a>
                <a href="#">FAQs</a>
            </div>
            <button class="contact-btn">Contact us</button>
            <button class="mobile-menu-btn">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </nav>
    
        <!-- Mobile Menu -->
        <div class="mobile-menu">
            <a href="home.html" class="active">Home</a>
            <a href="#about-us">About Us</a>
            <a href="#why-us">What We Do & Why</a>
            <a href="#">FAQs</a>
            <button class="contact-btn">Contact us</button>
        </div>

    <main class="main-wrapper">
        <div class="create-order-wrapper">
            <h1>Create Order</h1>
            <p>Select a product, choose the quantity, and place your order.</p>
            <form id="new_order" method="post" url="/">
            <!-- Product Selection -->
                <label for="buyer">Buyer</label>
                <input type="text" name="buyer">
                <label for="amount">Amount</label>
                <input type="number" name="amount">
                <label for="product">Product</label>
                <input type="text" name="product">
                <label for="price">Price</label>
                <input type="number" name="price">

                <button type="submit">submit</button>
            </form>
        </div>
    </main>

    <script src="setup.js"></script>
</body>
</html>