<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <h1>order  # {{ order[0] }}</h1>

    <table>
        <tr>
            <th>Order ID</th>
            <th>Buyer</th>
            <th>Product</th>
            <th>Price</th>
            <th>Time Stamp</th>
        </tr>
        <tr>
            <td>{{ order[0] }}</td>
            <td>{{ order[2] }}</td>
            <td>{{ order[3] }}</td>
            <td>{{ order[4] }}</td>
            <td>{{ order[5] }}</td>
        </tr>
    </table>
    <div>
        <button id="edit-buyer">EDIT BUYER</button>
    </div>
    <div id="extra">
        
    </div>
    <script src="/static/single.js"></script>
</body>
</html>