<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>Order ID</th>
            <th>Buyer</th>
            <th>Amount</th>
            <th>Product</th>
            <th>Price</th>
            <th>Time Stamp</th>
            <th>View Individual Order</th>
        </tr>
        {% for order in orders %}
            <tr>
                <td>{{ order.order_id }}</td>
                <td>{{ order.buyer }}</td>
                <td>{{ order.amount }}</td>
                <td>{{ order.product }}</td>
                <td>{{ order.price }}</td>
                <td>{{ order.time }}</td>
                <td><a href="/seller/{{ order.seller }}/table/{{ order.order_id }}">view order</a></td>
            </tr>
        {% endfor %}

    </table>
</body>
</html>